<%= form_for(@selection) do |f| %>
  <% if @selection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selection.errors.count, "error") %> prohibited this selection from being saved:</h2>

      <ul>
      <% @selection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

<!--   PUT USER ID IN -->

  <div class="field">
    <%= f.label :restaurant_ids %><br />
   
    <ol>
      <% @restaurants.each do |restaurant| %>
        <%= check_box("display", restaurant.id) %>
        <%= render :partial =>'restaurant', :locals => {:restaurant => restaurant} %>

      <% end %>
      
    </ol>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
