<%= form_for(@selection) do |f| %>
  <% if @selection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selection.errors.count, "error") %> prohibited this selection from being saved:</h2>

      <ul>
      <% @selection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name of selection" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :restaurant_ids, "Choose restaurants to be in your selection" %><br />
   
    <table>
      <% @restaurants.each do |restaurant| %>
      <tr>
        <td>
        <%= check_box("display", restaurant.id) %>
        </td>
        <td>
        <%= render :partial =>'restaurant', :locals => {:restaurant => restaurant} %>
        </td>
      <% end %>
    </table>

      
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
