	<h4><%= restaurant.name %></h4>
    <span><%= restaurant.cuisine %><span>
    <ul>
        <li>Distance: <%= restaurant.distance %></li>
        <li>Average Price: <%= restaurant.avgPrice %></li>
        <li>Rating: <%= restaurant.rating %></li>
    </ul>
    <br />