<li>
	<span><%= restaurant.name %></span>
    <span><%= restaurant.cuisine %><span>
    <ul>
        <li>Distance: <%= restaurant.distance %></li>
        <li>Average Price: <%= restaurant.avgPrice %></li>
        <li>Rating: <%= restaurant.rating %></li>
    </ul>
</li>