<p id="notice"><%= notice %></p>



<h1>
  <%= @selection.name %>
</h1>
<h2>
by <%= @selection.user.name %>
</h2>


<h3>
	Restaurants:
</h3>	
<br />
      <% @selection.restaurants.each do |restaurant| %>
        <%= render :partial =>'restaurant', :locals => {:restaurant => restaurant} %>
      <% end %>



<%= link_to 'Go back to your selections', selections_path, class:'btn' %>
