<h1>Restaurants</h1>


<%= render 'list' %>
<!-- 
<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th>Location</th>
    <th>Avgprice</th>
    <th>Cuisine</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.rating %></td>
    <td><%= restaurant.location %></td>
    <td><%= restaurant.avgPrice %></td>
    <td><%= restaurant.cuisine %></td>
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table> -->

<%= link_to 'New Restaurant', new_restaurant_path, class: "btn" %>
